.skill{
    display: flex;
    flex-direction: column;
}
.skillitem{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    ;
}
.skillitemmain{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.skillitemXD{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.item-circle{
    width: 60px;
    height: 60px;
    padding: 0;
}
.item-circle img{
    min-width: 100%;
    object-fit: contain;
}

@media (max-width: 300px) {
    .item-circle{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 220px) {
    .item-circle{
        width: 25px;
        height: 25px;
    }
}